pynb_checkpoints/Homework_20210118_JunCheolKim-checkpoint.ipynb

Self_Test/Images/
Self_Test/data/
Self_Test/dataset/
Self_Test/images.tar

Vision/data

.ipynb_checkpoints
.vscode
__pycache__

data
img


